[submodule "glyphs-ejb"]
	path = glyphs-ejb
	url = https://github.com/shroysha/glyphs-ejb.git
	branch = master
[submodule "glyphs-war"]
	path = glyphs-war
	url = https://github.com/shroysha/glyphs-war.git
	branch = master
[submodule "glyphs/glyphs-app-client"]
	path = glyphs/glyphs-app-client
	url = git://github.com/shroysha/glyphs-app-client.git
[submodule "glyphs/glyphs-ejb"]
	path = glyphs/glyphs-ejb
	url = git://github.com/shroysha/glyphs-ejb.git
[submodule "glyphs/glyphs-war"]
	path = glyphs/glyphs-war
	url = git://github.com/shroysha/glyphs-war.git
[submodule "glyphs-app-client"]
	path = glyphs-app-client
	url = https://github.com/shroysha/glyphs-app-client.git
	branch = master
